<div class=container>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Sinh vien</a></li>
  </ul>
  <br>
  <div class="card">
    <div class="card-header"><i class="fas fa-table"></i> Danh sach sinh vien</div>
    <div class="card-body">
      <div class="row">
        <div class="input-group col-md-4">
          <input type="text" class="form-control" placeholder="search....">
          <div class="input-group-prepend">
            <span class="input-group-text bg-primary"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-left sv-table">
            <thead>
              <tr>
                <th>LastName</th>
                <th>FirstName</th>
                <th>EnrollDate</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sv of students">
                <td>{{sv.LastName}}</td>
                <td>{{sv.FirstMidName}}</td>
                <td>{{sv.EnrollmentDate}}</td>
                <td>
                  <a routerLink="/sv-detail/{{sv.ID}}" (click) = chooseStudent(sv.ID)><i class="fas fa-info info-ico"></i></a> 
                  <button (click) = removeStudent(sv.ID)><i class="fas fa-trash del-ico"></i> </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-6">Showing 1 of 3</div>
        <div class="col-md-6 foot-card">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-forward"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
