<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>TÍnh thưởng</h2>
        <div class="card">
          <div class="card-header">Tính thưởng tết nguyên đán</div>
          <div class="card-body">
            <form action="" method="POST">
              <div class="form-group">
                <label for="">Họ và tên</label><br>
                <input type="text" [(ngModel)]="cn.ten" [ngModelOptions]="{standalone: true}" required/>
              </div>
              <div class="form-group">
                <label for="">Luong</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" [(ngModel)]="cn.luong" [ngModelOptions]="{standalone: true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">VNĐ</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Giới tính</label><br>
                <input type="radio" value="nam" name="gender" [(ngModel)]="cn.gioitinh"
                  [ngModelOptions]="{standalone: true}" /> Nam <input type="radio" value="nu" name="gender"
                  [(ngModel)]="cn.gioitinh" /> Nữ
              </div>
              <div class="form-group">
                <label for="">Tuổi</label><br>
                <select name="tuoi" id="cn-gender" [(ngModel)]="cn.tuoi" [ngModelOptions]="{standalone: true}">
                  <option value="1">Dưới 25</option>
                  <option value="2">Từ 25 đến 40</option>
                  <option value="3">Trên 40 </option>
                </select>
              </div>
            </form>
          </div>
          <div class="card-footer">
            Tiền thưởng : {{cn.thuong}}
          </div>
        </div>
        <br>
        <button type="button" (click)="thuong()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Tinh Thuong</button>
      </div>
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Thông báo </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div *ngIf='errorTen'>Tên không được bỏ trống</div>
            <div *ngIf='errorLuong'>Lương phải hơn 2 triệu</div>
            <div *ngIf='success'>Thành công</div> 
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>
  </div>
  