<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Học lực</h2>
      <form action="" method="POST">
        <div class="form-group">
          <label for="ten">Họ và tên:</label>
          <input type="text" class="form-control" id="ten" name="ten" [(ngModel)]="sv.ten">
        </div>
        <div class="form-group">
          <label for="ns">Ngày sinh:</label>
          <input type="text" class="form-control" id="ns" name="ns" [(ngModel)]="sv.ngaysinh">
        </div>
        <div class="form-group">
          <label for="diem">Diem:</label>
          <input type="text" class="form-control" id="diem" name="diem" [(ngModel)]="sv.diem">
        </div>
        <div class="form-group">
          <label for="gt">Giới tính:</label><br>
          <select name="gt" id="gt" [(ngModel)]="sv.gioitinh">
            <option value="nam">Nam</option>
            <option value="nu">Nữ</option>
          </select>
        </div>
        <div class="form-group">
          <label for="hocluc">Hoc Lực:</label>
          <input type="text" class="form-control" id="
                " name="hocluc" [(ngModel)]="sv.hocluc">
        </div>
        <button type="button" class="btn btn-primary" (click)="xeploai()">Xep loai</button>
      </form>
    </div>
  </div>
</div>
