.img-cart {
    width:50px;
    border:0.5px solid gray;
    padding:2px;
}
.bonus, .minus{
    width:30px;
    height:30px;
    font-size: 16px;
    padding:0;
    line-height:0;
    margin:0 3px;
}
.number {
    margin-right:10px;
}
.btn-delete, .btn-view {
    margin-right:10px;
    height:30px;
    line-height: 0px;
}