<div class="col-md-12 col-sm-12 col-lg-12">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main-menu">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-list">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-cart">Product Cart</a>
      </li>
    </ul>
  </nav>
</div>


<h2>Your Cart</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cartPD">
      <td>{{c.id}}</td>
      <td><img src="assets/{{c.name}}.jpg" alt="{{c.name}}" class="img-cart"></td>
      <td>{{c.name}}</td>
      <td>{{c.price}}</td>
      <td><b class="number">{{c.quantity}}</b><button class="btn btn-success bonus" (click)="bonus(c)">+</button><button
          class="btn btn-danger minus" (click)="minus(c)">-</button></td>
      <td><button class="btn btn-primary btn-view">View</button> <button
          class="btn btn-danger btn-delete">Delete</button></td>
    </tr>
    <tr>
      <td colspan="5">total price</td>
      <td class="text-left">{{tongTien()}}</td>
    </tr>
  </tbody>
</table>
