<div class="container pad-t-15">
  <header>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/online-shop-mall.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="assets/images/header-object.png" alt="">
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark menu-bar">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-home"></i> Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-barcode"></i> Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-address-book"></i> Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Góp ý</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-question"></i> Hỏi đáp</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="row pad-t-15">
    <div class="col-md-9 pad-l-0 ">
      <div class="row chungloai-list">
        <div class="col-md-4">
          <div class="card cl-item">
            <img class="card-img-top cl-item-img" src="assets/images/products/1001.jpg" alt="Card image">
            <div class="card-body">
              <p>Yeu cau khach hang cung cap giay chung nhan tieu chuan chat luong va dau tu vao noi dung quang cao cho
                nhung website</p>
              <button type="button" class="cl-item-button btn btn-primary">Chi tiết</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card cl-item">
            <img class="card-img-top cl-item-img" src="assets/images/products/1001.jpg" alt="Card image">
            <div class="card-body">
              <p>Yeu cau khach hang cung cap giay chung nhan tieu chuan chat luong va dau tu vao noi dung quang cao cho
                nhung website</p>
              <button type="button" class="cl-item-button btn btn-primary">Chi tiết</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card cl-item">
            <img class="card-img-top cl-item-img" src="assets/images/products/1001.jpg" alt="Card image">
            <div class="card-body">
              <p>Yeu cau khach hang cung cap giay chung nhan tieu chuan chat luong va dau tu vao noi dung quang cao cho
                nhung website</p>
              <button type="button" class="cl-item-button btn btn-primary">Chi tiết</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row cl-action pos-relative">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-dark cl-action-icon"><i class="fas fa-thumbs-up"></i></button>
          <button type="button" class="btn btn-light cl-action-icon"><i class="fas fa-thumbs-down"></i></button>
          <button type="button" class="btn btn-light cl-action-icon"><i class="fas fa-hand-point-left"></i></button>
          <button type="button" class="btn btn-dark cl-action-icon"><i class="fas fa-hand-point-right"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row right-box">
        <div class="col-md-5 text-right pos-relative">
          <img src="assets/images/shoppingcart.gif" alt="shopping-cart" class="cart-icon">
        </div>
        <div class="col-md-7 cart-info">
          <p>100 items</p>
          <p>$ 56.8</p>
          <a href="cart">View Cart</a>
        </div>
      </div>
      <div class="row right-box">
        <input type="text" class="keywords-field" placeholder="keywords ..">
      </div>
      <div class="row right-box">
        <table class="table table-bordered chungloai-list">
          <thead class="bg-light">
            <tr>
              <th><i class="fas fa-list"></i> Chủng loại</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cl of chungLoai">
              <td>{{cl.clName}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
