<div class="container pad-t-15">
  <header>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/online-shop-mall.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="assets/images/header-object.png" alt="">
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark menu-bar">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-home"></i> Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-barcode"></i> Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-address-book"></i> Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Góp ý</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-question"></i> Hỏi đáp</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="row pad-t-15">
    <div class="col-md-5">
      <img src="assets/images/products/1005.jpg" alt="">
    </div>
    <div class="col-md-7">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">Tên hàng : <span></span></li>
        <li class="list-group-item list-group-item-light">Đơn giá : <span></span></li>
        <li class="list-group-item list-group-item-light">Nhà cung cấp : <span></span></li>
        <li class="list-group-item list-group-item-light">Chủng loại : <span></span></li>
        <li class="list-group-item list-group-item-light">Số lượng : <span></span></li>
        <li class="list-group-item list-group-item-light">Giảm giá : <span></span></li>
      </ul>
    </div>
  </div>
  <div class="related-list">
    <h2>Hàng liên quan</h2>
    <hr>
    <div class="related-item-list pos-relative">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <img src="assets/images/products/1002.jpg" alt="" class="related-it-img" />
        </li>
        <li class="list-group-item">
          <img src="assets/images/products/1002.jpg" alt="" class="related-it-img" />
        </li>
        <li class="list-group-item">
          <img src="assets/images/products/1002.jpg" alt="" class="related-it-img" />
        </li>
        <li class="list-group-item">
          <img src="assets/images/products/1002.jpg" alt="" class="related-it-img" />
        </li>
        <li class="list-group-item">
          <img src="assets/images/products/1002.jpg" alt="" class="related-it-img" />
        </li>
      </ul>
    </div>

  </div>
</div>
