<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Bán hàng giải khát</h2>
      <div class="card">
        <div class="card-header">Bán hàng giải khát</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Tên hàng</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mh of mathang">
                <td><input type="checkbox" [(ngModel)]="mh.check" style="width:15px;height:15px;"></td>
                <td>{{mh.name}}</td>
                <td><input type="number" [disabled]="!mh.check" name="soluong" style="width:100%;" (change)="tongTungCai()" [(ngModel)]="mh.soluong" ></td>
                <td>{{mh.price}}</td>
                <td>{{mh.tong}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">Tong tien : {{tinhtongTien()}}</div>
      </div>
    </div>
  </div>
</div>
