<div class="card">
    <div class="card-header">{{listPD[0].name}}</div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="row">
                        <div class="col-md-4">Name:</div>
                        <div class="col-md-8">{{listPD[0].name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Code:</div>
                        <div class="col-md-8">{{listPD[0].code}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Description:</div>
                        <div class="col-md-8">Leaf rake with 48-inch wooden handle.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Availability:</div>
                        <div class="col-md-8">{{listPD[0].available}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Price:</div>
                        <div class="col-md-8">${{listPD[0].price}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">5 Star Rating:</div>
                        <div class="col-md-8">{{listPD[0].star}}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/{{listPD[0].image}}" alt="{{listPD[0].name}}" class="pd-img"/>
                </div>
            </div>
        </div>
    </div> 
    <div class="card-footer">Back</div>
  </div>