<div class=container>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Sinhvien</a></li>
    <li class="breadcrumb-item"><a href="#">{{sinhvien.LastName}}</a></li>
  </ul>
  <br>
  <div class="card">
    <div class="card-header"><i class="fas fa-table"></i> Details</div>
    <div class="card-body">
      <div class="row">
        <div class="input-group col-md-4">
          <input type="text" class="form-control" placeholder="Search....">
          <div class="input-group-prepend">
            <span class="input-group-text bg-primary"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br>
            <div class=row>
            <div class="col-md-4">
              Last Name : {{sinhvien.LastName}}
            </div>
            <div class="col-md-4">
              First Name : {{sinhvien.FirstMidName}}
            </div>
            <div class="col-md-4">
              Enroll Date : {{sinhvien.EnrollmentDate}} 12:00:00 AM
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-12">
          <table class="table table-bordered text-left sv-table">
            <thead>
              <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th>Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ele of thongtinlienquansv">
                <td>{{ele.Title}} </td>
                <td>{{ele.Grade}}</td>
                <td>{{ele.Credits}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
