<div class="container-fluid">
  <div class="row pad-20">
    <div class="col-md-3 left-column">
      <div class="row">
        <div class="col-md-12 text-right">
           <i class="fas fa-bars fa-3x menu-show"></i>
        </div>
        <div class="col-md-12 text-center">
          <img src="assets/bootstrap.jpg" alt="bootstrap" class="logo" />
        </div>
        <div class="col-md-12">
          <ul class="nav flex-column left-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-user"></i> Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-file"></i> Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="fas fa-pen"></i> Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-bookmark"></i> Topics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-file"></i> Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="fas fa-bookmark"></i> Topic-Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="fas fa-pen"></i> Classes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Photos</a></li>
            <li class="breadcrumb-item"><a href="#">Summer 2017</a></li>
            <li class="breadcrumb-item"><a href="#">Italy</a></li>
            <li class="breadcrumb-item active">Rome</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Show
            <select name="entry" id="entry">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            entries</p>
        </div>
        <div class="col-md-8 text-right">
          <button type="button" class="btn btn-primary ex-but">Excel</button>
          <button type="button" class="btn btn-primary pdf-but">PDF</button>
          <div class="search-box">
            <input type="search" class="search-field" placeholder="Search" />
            <i class="fas fa-search search-icon"></i>
          </div>
          <button type="button" class="btn btn-primary add-but"><i class="fas fa-plus"></i> Add Employee</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-borderless text-center">
            <thead>
              <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Cong</td>
                <td>Ngo</td>
                <td>ntcong@gmail.com</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Thuy</td>
                <td>Thanh</td>
                <td>â@gmail.com</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Nguyen</td>
                <td>Nam</td>
                <td>acb@gmail.com</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Le</td>
                <td>Hoang</td>
                <td>lhva@gmail.com</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Cuong</td>
                <td>Huy</td>
                <td>thcuong@gmail.com</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>Showing 1 of 5 of Employees</p>
        </div>
        <div class="col-md-8">
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-backward"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-forward"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
