<div class="card">
  <div class="card-header">List Product</div>
  <div class="card-body">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-2 no-padding">Filter By:</div>
              <div class="col-md-10">
                  <input type="text" name="filter" id="filter" placeholder="....."/>
              </div>
          </div>
          <div class="row">
              <h2>Filter By:</h2>
              <table class="table">
                  <thead>
                    <tr>
                        <td><button type="button" class="btn btn-primary" (click)="AnHien()">Hien Image</button></td>
                        <td>Product</td>
                        <td>Code</td>
                        <td>Available</td>
                        <td>Price</td>
                        <td>5 Star Rating</td>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor = "let p of listPD">
                          <td><img src="assets/{{p.image}}" alt="{{p.name}}" class="image-list" *ngIf = "isShow"/> </td>
                          <td>{{p.name}}</td>
                          <td>{{p.code}}</td>
                          <td>{{p.available}}</td>
                          <td>{{p.price}}</td>
                          <td>
                              <div class="star-rate">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <div class="hidden" [ngStyle] = "{'left':p.width}"></div>
                              </div>
                              {{TinhSao(p)}}
                          </td>
                      </tr>
                  </tbody>
                </table>
          </div>
      </div>
  </div> 
</div>
